* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Trebuchet MS', sans-serif;
	text-align: center;
}
.main-title{
	color:rgba(84, 87, 115, 1);
	font-size: 40px

}

/* just the search bar
============================ */

  .wrapper {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-width: 800px;
  }

  .search-icon {
    position: absolute;
    top:-210px;
    left: 8px;
    width: 14px;
  }

  .clear-icon {
    position: absolute;
    top:-210px;
    right: 8px;
    width: 10px;
    cursor: pointer;
  }

  .search {
  	text-decoration-color: rgba(84, 87, 115, 1);
    border: none;
    border-radius: 6px;
    height: 30px;
    width: 100%;
    padding: 10px 23px 10px 30px;
    background-color: rgba(229, 192, 182, 1);
  }

/* the menu bar
============================ */

nav ul{
	margin: 0;
	padding: 30px;
	list-style: none;
}
nav li{
	display: inline-block;
	margin: .5em;
}

/* rectangle
============================ */
.rectangle {
  height: 550px;
  max-width: 18%;
  background-color: rgba(229, 192, 182, 1);
  border-radius:8px;
}

/* filters to the left side
============================ */
.filter-heading{
  float: left;
  background-color: rgba(229, 192, 182, 1);
  padding-top: 1px;
  padding-left:20px;
  position: absolute;
  top: 17em;
  color: rgba(84, 87, 115, 1);

}
/* size of the pillow */
.filter-headersize{
  float: left;
  position: absolute;
  background-color: rgba(229, 192, 182, 1);
  top: 22em;
  padding-top:1px;
  padding-left: 20px;
  color: rgba(84, 87, 115, 1);
}
.pillowsize-checkboxes{
  float:left;
  position: absolute;
  padding-left:20px;
  text-align: left;
  top: 25em;
  color: rgba(84, 87, 115, 1);

}
/* price of the pillow and style */
.price-and-style-filters{
  float:left;
  text-align: left;
  padding-left: 20px;
  position: absolute;
  top: 29em;
  color: rgba(84, 87, 115, 1);

}
/* images
============================ */
img{ 
  border-radius: 6px;
  height: auto;
  max-width: 90%;
  border: 10px solid rgba(229, 192, 182, 1);
}
/* grid row 1
=========================*/
.row {
  display: flex;
  padding-left: 170px;
  position: relative;
  top:-34.6em;

}
.column {
  flex: 33.33%;
  padding: 5px;
  padding-left:70px;
}
.column h2 {
  padding-top: 10px;
  text-align: center;
  padding-left:5px;
  padding-right:5px;
  top:15em;
  text-shadow: .5px .5px rgba(0, 0, 0, 1);
  color: rgba(119, 142, 147, 1);
}
.column button{
  background-color: rgba(84, 87, 115, 1); 
  border-radius: 6px;
  color: white;
  display: inline-block;
  position: relative;
  float: right;
  top: -1.8em;
  padding-right:10px;

}
.column h1{
  float: left;
  position: relative;
  padding-top:10px;
  padding-left:50px;
  padding-right:100px;
  top: -1.85em;
  color: rgba(119, 142, 147, 1);

}
.column p{
  top: -1.3em;
  position:relative;
  color: rgba(119, 142, 147, 1);

}

/* grid row 1
=========================*/
.row2 {
  display: flex;
  padding-left: 170px;
  position: relative;
  top:-34.6em;

}
.column2 {
  flex: 33.33%;
  padding: 5px;
  padding-left:70px;
}
.column2 button{
  background-color: rgba(84, 87, 115, 1); 
  border-radius: 6px;
  color: white;
  display: inline-block;
  position: relative;
  float: right;
  top: -2em;
  padding-right:40px;
}

.column2 h2 {
 /* background-color:rgba(119, 142, 147, 1); */
  padding-top: 10px;
  text-align: center;
  padding-left:5px;
  padding-right:5px;
  top:15em;
  text-shadow: .5px .5px rgba(0, 0, 0, 1);
  color: rgba(119, 142, 147, 1);
}

.column2 h1{
  float: left;
  position: relative;
  padding-top:10px;
  padding-left:50px;
  padding-right:100px;
  top: -1.85em;
  color: rgba(119, 142, 147, 1);
}
.column2 p{
  top: -1.3em;
  position: relative;
  padding:-5px;
  color: rgba(119, 142, 147, 1);
}

.morepages{
  float:right;
  padding-left:69em;
  top: 70em;
  position:absolute;
}

.dot {
  height:18px;
  width:18px;
  background-color:red;
  display:inline-block;
  border-radius: 50%;
  margin-left:-12.5px;
  position: relative;
  margin-top:1em;
}




































